*, 
*::before,
*::after {
	box-sizing:border-box;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
}

.weatherWidget{
	display: flex;
	width: 100%;
	border-style: solid;
	border-width: 6px;
	border-color: #fff;
	background-color: #1f567c;
}

.container{
	display: flex;
	align-items: center;
	text-align: center;
}

.weather{
	width: 33.3333%;
}

.forecast{
	width: 66.6667%;
}

.location{
	width: 33.3333%;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
}

h1{
	margin: 0;
	font-size: 0.8125rem;
	letter-spacing: 0.05em;
	font-weight: 300;
}

.today-icon{
	width: 33.3333%;
	display: flex;
	justify-content: center;
}

.today-conditions{
	width: 33.3333%;
	flex-direction: column;
}

#current-temp{
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #fff;
}

#current-desc{
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	color: #fff;
}

.week-day{
	width: 20%;
	padding: 6px 12px;
	font-size: 0.8125rem;
	font-weight: 300;
	letter-spacing: 0.05em;
	color: #fff;
}

.week-day:nth-child(odd){
	background-color: rgba(40, 95, 135, 0.5)
}

.temps{
	font-weight: 400;
}

#temp-day,
#temp-day-1,
#temp-day-2,
#temp-day-3,
#temp-day-4{
	width: 50%;
	color: #ec6e4e;
}

#temp-night,
#temp-night-1,
#temp-night-2,
#temp-night-3,
#temp-night-4{
	width: 50%;
	color: #000;
}

/*RESPONSIVE*/
/*FROM 1000 NONE*/
@media (min-width: 1001px){
	#d,
	#d-1,
	#d-2,
	#d-3,
	#d-4{
		display: none;
	}
}
/*TO 400 NONE*/
@media (max-width: 400px){
	#d,
	#d-1,
	#d-2,
	#d-3,
	#d-4{
		display: none;
	}
}
/*TO 400*/
@media (max-width: 400px){
	#day,
	#day-1,
	#day-2,
	#day-3,
	#day-4{
		width: 33.3333%;
		text-align: left;
	}
}
/*BETWEEN 400 - 1000 NONE*/
@media (min-width: 401px) and (max-width: 1000px){
	#day,
	#day-1,
	#day-2,
	#day-3,
	#day-4{
		display: none;
	}
}

@media all and (max-width: 1000px){
	.weather,
	.forecast{
		width: 50%;
	}
	.temps{
		flex-direction: column;
	}
}

@media all and (max-width: 700px){
	.weatherWidget{
		flex-direction: column;
	}
	.weather,
	.forecast{
		width: 100%;
	}
}

@media all and (max-width: 400px){
	.weather{
		flex-wrap: wrap;
	}
	.forecast{
		flex-direction: column;
	}
	.location{
		width: 100%;
		padding-top: 12px;
	}
	.today-icon{
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.today-conditions{
		width: 50%;
	}
	.week-day{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.temps{
		width: 33.3333%;
		flex-direction: row;
	}
	#temp-day,
	#temp-day-1,
	#temp-day-2,
	#temp-day-3,
	#temp-day-4{
		text-align: left;
	}
}